src/main/resources/wsdl/servicosPagamentoOneClickWS.Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://pagamentos.webservices.superpay.ernet.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicosPagamentoOneCliqueWSImplService" targetNamespace="http://pagamentos.webservices.superpay.ernet.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pagamentos.webservices.superpay.ernet.com.br/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://pagamentos.webservices.superpay.ernet.com.br/">
  <xs:element name="alteraCadastraPagamentoOneClick" type="tns:alteraCadastraPagamentoOneClick"/>
  <xs:element name="alteraCadastraPagamentoOneClickResponse" type="tns:alteraCadastraPagamentoOneClickResponse"/>
  <xs:element name="cadastraPagamentoOneClick" type="tns:cadastraPagamentoOneClick"/>
  <xs:element name="cadastraPagamentoOneClickResponse" type="tns:cadastraPagamentoOneClickResponse"/>
  <xs:element name="cadastraPagamentoOneClickV2" type="tns:cadastraPagamentoOneClickV2"/>
  <xs:element name="cadastraPagamentoOneClickV2Response" type="tns:cadastraPagamentoOneClickV2Response"/>
  <xs:element name="consultaDadosOneClick" type="tns:consultaDadosOneClick"/>
  <xs:element name="consultaDadosOneClickResponse" type="tns:consultaDadosOneClickResponse"/>
  <xs:element name="pagamentoOneClick" type="tns:pagamentoOneClick"/>
  <xs:element name="pagamentoOneClickResponse" type="tns:pagamentoOneClickResponse"/>
  <xs:element name="pagamentoOneClickV2" type="tns:pagamentoOneClickV2"/>
  <xs:element name="pagamentoOneClickV2Response" type="tns:pagamentoOneClickV2Response"/>
  <xs:element name="resultadoPagamentoWS" type="tns:resultadoPagamentoWS"/>
  <xs:complexType name="cadastraPagamentoOneClick">
    <xs:sequence>
      <xs:element minOccurs="0" name="dadosOneClick" type="tns:dadosCadastroPagamentoOneClickWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosCadastroPagamentoOneClickWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoSeguranca" type="xs:string"/>
      <xs:element minOccurs="0" name="dataValidadeCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="emailComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="formaPagamento" type="xs:long"/>
      <xs:element minOccurs="0" name="nomeTitularCartaoCredito" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCartaoCredito" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cadastraPagamentoOneClickResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoDadosCobrancaCartaoVo">
    <xs:complexContent>
      <xs:extension base="tns:vo">
        <xs:sequence>
          <xs:element minOccurs="0" name="indice" type="xs:long"/>
          <xs:element minOccurs="0" name="numero" type="xs:string"/>
          <xs:element minOccurs="0" name="titular" type="xs:string"/>
          <xs:element minOccurs="0" name="validadeAno" type="xs:string"/>
          <xs:element minOccurs="0" name="validadeMes" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="vo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ativo" type="xs:boolean"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDadosOneClick">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDadosOneClickResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dadosCadastroPagamentoOneClickWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoOneClickV2">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoOneClickWSV2"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoOneClickWSV2">
    <xs:complexContent>
      <xs:extension base="tns:transacaoOneClickWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="cvv" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="transacaoOneClickWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="campoLivre1" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre2" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre3" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre4" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre5" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="dadosUsuarioTransacao" type="tns:dadosUsuarioTransacaoCompletaWS"/>
      <xs:element minOccurs="0" name="IP" type="xs:string"/>
      <xs:element name="idioma" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="itensDoPedido" nillable="true" type="tns:itemPedidoTransacaoWS"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="origemTransacao" type="xs:string"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="urlCampainha" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoNaoPago" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoPago" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
      <xs:element minOccurs="0" name="vencimentoBoleto" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosUsuarioTransacaoCompletaWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairroEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="bairroEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="cepEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="cepEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="cidadeEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="cidadeEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoCliente" type="xs:string"/>
      <xs:element name="codigoTipoTelefoneAdicionalComprador" type="xs:long"/>
      <xs:element name="codigoTipoTelefoneAdicionalEntrega" type="xs:long"/>
      <xs:element name="codigoTipoTelefoneComprador" type="xs:long"/>
      <xs:element name="codigoTipoTelefoneEntrega" type="xs:long"/>
      <xs:element minOccurs="0" name="complementoEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="complementoEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="dataNascimentoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="dddComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="documento2Comprador" type="xs:string"/>
      <xs:element minOccurs="0" name="documentoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="emailComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="enderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="enderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="paisComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="paisEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="sexoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneEntrega" type="xs:string"/>
      <xs:element name="tipoCliente" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemPedidoTransacaoWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoProduto" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeProduto" type="xs:string"/>
      <xs:element name="quantidadeProduto" type="xs:int"/>
      <xs:element minOccurs="0" name="valorUnitarioProduto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoOneClickV2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoPagamentoWS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="codigoTransacaoOperadora" type="xs:int"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alteraCadastraPagamentoOneClick">
    <xs:sequence>
      <xs:element minOccurs="0" name="dadosOneClick" type="tns:dadosCadastroPagamentoOneClickWS"/>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alteraCadastraPagamentoOneClickResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dadosCadastroPagamentoOneClickWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cadastraPagamentoOneClickV2">
    <xs:sequence>
      <xs:element minOccurs="0" name="dadosOneClick" type="tns:dadosCadastroPagamentoOneClickWSV2"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosCadastroPagamentoOneClickWSV2">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="dataValidadeCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="emailComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="formaPagamento" type="xs:long"/>
      <xs:element minOccurs="0" name="nomeTitularCartaoCredito" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCartaoCredito" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cadastraPagamentoOneClickV2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoOneClick">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoOneClickWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoOneClickResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultipleCardsException" type="tns:MultipleCardsException"/>
  <xs:complexType name="MultipleCardsException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cartoesVo" type="tns:transacaoDadosCobrancaCartaoVo"/>
      <xs:element name="key" nillable="true" type="xs:string"/>
      <xs:element name="cartao" nillable="true" type="tns:transacaoDadosCobrancaCartaoVo"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnsupportedEncodingException" type="tns:UnsupportedEncodingException"/>
  <xs:complexType name="UnsupportedEncodingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServicesException" type="tns:WebServicesException"/>
  <xs:complexType name="WebServicesException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="cadastraPagamentoOneClick">
    <wsdl:part element="tns:cadastraPagamentoOneClick" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoOneClickV2Response">
    <wsdl:part element="tns:pagamentoOneClickV2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WebServicesException">
    <wsdl:part element="tns:WebServicesException" name="WebServicesException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDadosOneClick">
    <wsdl:part element="tns:consultaDadosOneClick" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoOneClickResponse">
    <wsdl:part element="tns:pagamentoOneClickResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoOneClickV2">
    <wsdl:part element="tns:pagamentoOneClickV2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cadastraPagamentoOneClickResponse">
    <wsdl:part element="tns:cadastraPagamentoOneClickResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alteraCadastraPagamentoOneClick">
    <wsdl:part element="tns:alteraCadastraPagamentoOneClick" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cadastraPagamentoOneClickV2">
    <wsdl:part element="tns:cadastraPagamentoOneClickV2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MultipleCardsException">
    <wsdl:part element="tns:MultipleCardsException" name="MultipleCardsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alteraCadastraPagamentoOneClickResponse">
    <wsdl:part element="tns:alteraCadastraPagamentoOneClickResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnsupportedEncodingException">
    <wsdl:part element="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cadastraPagamentoOneClickV2Response">
    <wsdl:part element="tns:cadastraPagamentoOneClickV2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDadosOneClickResponse">
    <wsdl:part element="tns:consultaDadosOneClickResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoOneClick">
    <wsdl:part element="tns:pagamentoOneClick" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicosPagamentoOneCliqueWS">
    <wsdl:operation name="cadastraPagamentoOneClick">
      <wsdl:input message="tns:cadastraPagamentoOneClick" name="cadastraPagamentoOneClick">
    </wsdl:input>
      <wsdl:output message="tns:cadastraPagamentoOneClickResponse" name="cadastraPagamentoOneClickResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MultipleCardsException" name="MultipleCardsException">
    </wsdl:fault>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDadosOneClick">
      <wsdl:input message="tns:consultaDadosOneClick" name="consultaDadosOneClick">
    </wsdl:input>
      <wsdl:output message="tns:consultaDadosOneClickResponse" name="consultaDadosOneClickResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoOneClickV2">
      <wsdl:input message="tns:pagamentoOneClickV2" name="pagamentoOneClickV2">
    </wsdl:input>
      <wsdl:output message="tns:pagamentoOneClickV2Response" name="pagamentoOneClickV2Response">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="alteraCadastraPagamentoOneClick">
      <wsdl:input message="tns:alteraCadastraPagamentoOneClick" name="alteraCadastraPagamentoOneClick">
    </wsdl:input>
      <wsdl:output message="tns:alteraCadastraPagamentoOneClickResponse" name="alteraCadastraPagamentoOneClickResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MultipleCardsException" name="MultipleCardsException">
    </wsdl:fault>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cadastraPagamentoOneClickV2">
      <wsdl:input message="tns:cadastraPagamentoOneClickV2" name="cadastraPagamentoOneClickV2">
    </wsdl:input>
      <wsdl:output message="tns:cadastraPagamentoOneClickV2Response" name="cadastraPagamentoOneClickV2Response">
    </wsdl:output>
      <wsdl:fault message="tns:MultipleCardsException" name="MultipleCardsException">
    </wsdl:fault>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoOneClick">
      <wsdl:input message="tns:pagamentoOneClick" name="pagamentoOneClick">
    </wsdl:input>
      <wsdl:output message="tns:pagamentoOneClickResponse" name="pagamentoOneClickResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicosPagamentoOneCliqueWSImplServiceSoapBinding" type="tns:ServicosPagamentoOneCliqueWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cadastraPagamentoOneClick">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cadastraPagamentoOneClick">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cadastraPagamentoOneClickResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MultipleCardsException">
        <soap:fault name="MultipleCardsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDadosOneClick">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaDadosOneClick">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaDadosOneClickResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoOneClickV2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagamentoOneClickV2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagamentoOneClickV2Response">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="alteraCadastraPagamentoOneClick">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="alteraCadastraPagamentoOneClick">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="alteraCadastraPagamentoOneClickResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MultipleCardsException">
        <soap:fault name="MultipleCardsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cadastraPagamentoOneClickV2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cadastraPagamentoOneClickV2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cadastraPagamentoOneClickV2Response">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MultipleCardsException">
        <soap:fault name="MultipleCardsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoOneClick">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagamentoOneClick">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagamentoOneClickResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicosPagamentoOneCliqueWSImplService">
    <wsdl:port binding="tns:ServicosPagamentoOneCliqueWSImplServiceSoapBinding" name="ServicosPagamentoOneCliqueWSImplPort">
      <soap:address location="https://homologacao.superpay.com.br/checkout/servicosPagamentoOneClickWS.Services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>