src/main/resources/wsdl/servicosPagamentoCompletoWS.Services.wsdl

<?xml version='1.0' encoding='UTF-8'?>
  <wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://pagamentos.webservices.superpay.ernet.com.br/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                    name="ServicosPagamentoCompletoWSImplService"
                    targetNamespace="http://pagamentos.webservices.superpay.ernet.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pagamentos.webservices.superpay.ernet.com.br/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://pagamentos.webservices.superpay.ernet.com.br/">
  <xs:element name="ConsultaTransacaoWS" type="tns:consultaTransacaoWS"/>
  <xs:element name="atualizaCamposLivres" type="tns:atualizaCamposLivres"/>
  <xs:element name="atualizaCamposLivresResponse" type="tns:atualizaCamposLivresResponse"/>
  <xs:element name="atualizacaoTransacaoCompletaWS" type="tns:atualizacaoTransacaoCompletaWS"/>
  <xs:element name="bloquearTransacao" type="tns:bloquearTransacao"/>
  <xs:element name="bloquearTransacaoResponse" type="tns:bloquearTransacaoResponse"/>
  <xs:element name="cancelaTransacao" type="tns:cancelaTransacao"/>
  <xs:element name="cancelaTransacaoResponse" type="tns:cancelaTransacaoResponse"/>
  <xs:element name="cancelarTransacaoCompleta" type="tns:cancelarTransacaoCompleta"/>
  <xs:element name="cancelarTransacaoCompletaResponse" type="tns:cancelarTransacaoCompletaResponse"/>
  <xs:element name="capturaTransacao" type="tns:capturaTransacao"/>
  <xs:element name="capturaTransacaoResponse" type="tns:capturaTransacaoResponse"/>
  <xs:element name="capturarCancelarTransacao" type="tns:capturarCancelarTransacao"/>
  <xs:element name="capturarCancelarTransacaoResponse" type="tns:capturarCancelarTransacaoResponse"/>
  <xs:element name="capturarTransacaoCompleta" type="tns:capturarTransacaoCompleta"/>
  <xs:element name="capturarTransacaoCompletaResponse" type="tns:capturarTransacaoCompletaResponse"/>
  <xs:element name="consultaBloqueioTransacao" type="tns:consultaBloqueioTransacao"/>
  <xs:element name="consultaBloqueioTransacaoResponse" type="tns:consultaBloqueioTransacaoResponse"/>
  <xs:element name="consultaDataAntifraude" type="tns:consultaDataAntifraude"/>
  <xs:element name="consultaDataAntifraudeResponse" type="tns:consultaDataAntifraudeResponse"/>
  <xs:element name="consultaTransacao" type="tns:consultaTransacao"/>
  <xs:element name="consultaTransacaoCompleta" type="tns:consultaTransacaoCompleta"/>
  <xs:element name="consultaTransacaoCompletaResponse" type="tns:consultaTransacaoCompletaResponse"/>
  <xs:element name="consultaTransacaoEspecifica" type="tns:consultaTransacaoEspecifica"/>
  <xs:element name="consultaTransacaoEspecificaAVS" type="tns:consultaTransacaoEspecificaAVS"/>
  <xs:element name="consultaTransacaoEspecificaAVSResponse" type="tns:consultaTransacaoEspecificaAVSResponse"/>
  <xs:element name="consultaTransacaoEspecificaResponse" type="tns:consultaTransacaoEspecificaResponse"/>
  <xs:element name="consultaTransacaoResponse" type="tns:consultaTransacaoResponse"/>
  <xs:element name="consultaTransacoesDia" type="tns:consultaTransacoesDia"/>
  <xs:element name="consultaTransacoesDiaResponse" type="tns:consultaTransacoesDiaResponse"/>
  <xs:element name="enviaTransacaoCompletaAntiFraude" type="tns:enviaTransacaoCompletaAntiFraude"/>
  <xs:element name="enviaTransacaoCompletaAntiFraudeResponse" type="tns:enviaTransacaoCompletaAntiFraudeResponse"/>
  <xs:element name="operacaoTransacao" type="tns:operacaoTransacao"/>
  <xs:element name="operacaoTransacaoResponse" type="tns:operacaoTransacaoResponse"/>
  <xs:element name="pagamentoTransacao" type="tns:pagamentoTransacao"/>
  <xs:element name="pagamentoTransacaoCompleta" type="tns:pagamentoTransacaoCompleta"/>
  <xs:element name="pagamentoTransacaoCompletaCamposExtras" type="tns:pagamentoTransacaoCompletaCamposExtras"/>
  <xs:element name="pagamentoTransacaoCompletaCamposExtrasResponse" type="tns:pagamentoTransacaoCompletaCamposExtrasResponse"/>
  <xs:element name="pagamentoTransacaoCompletaMaisCartoesCredito" type="tns:pagamentoTransacaoCompletaMaisCartoesCredito"/>
  <xs:element name="pagamentoTransacaoCompletaMaisCartoesCreditoResponse" type="tns:pagamentoTransacaoCompletaMaisCartoesCreditoResponse"/>
  <xs:element name="pagamentoTransacaoCompletaResponse" type="tns:pagamentoTransacaoCompletaResponse"/>
  <xs:element name="pagamentoTransacaoResponse" type="tns:pagamentoTransacaoResponse"/>
  <xs:element name="refazerTransacao" type="tns:refazerTransacao"/>
  <xs:element name="refazerTransacaoResponse" type="tns:refazerTransacaoResponse"/>
  <xs:element name="resultadoPagamentoCapturaWS" type="tns:resultadoPagamentoCapturaWS"/>
  <xs:element name="resultadoPagamentoWS" type="tns:resultadoPagamentoWS"/>
  <xs:element name="resultadoTransacaoCompletaWS" type="tns:resultadoTransacaoCompletaWS"/>
  <xs:element name="resultadoTransacaoDataAntifraudeWS" type="tns:resultadoTransacaoDataAntifraudeWS"/>
  <xs:element name="salvaHashPagamento" type="tns:salvaHashPagamento"/>
  <xs:element name="salvaHashPagamentoResponse" type="tns:salvaHashPagamentoResponse"/>
  <xs:element name="transacaoCompletaCamposExtrasWS" type="tns:transacaoCompletaCamposExtrasWS"/>
  <xs:element name="transacaoCompletaWS" type="tns:transacaoCompletaWS"/>
  <xs:element name="visualizarDadosRetorno" type="tns:visualizarDadosRetorno"/>
  <xs:element name="visualizarDadosRetornoResponse" type="tns:visualizarDadosRetornoResponse"/>
  <xs:complexType name="pagamentoTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoCompletaWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoCompletaWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="campoLivre1" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre2" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre3" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre4" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre5" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoSeguranca" type="xs:string"/>
      <xs:element minOccurs="0" name="dadosUsuarioTransacao" type="tns:dadosUsuarioTransacaoCompletaWS"/>
      <xs:element minOccurs="0" name="dataValidadeCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="IP" type="xs:string"/>
      <xs:element name="idioma" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="itensDoPedido" nillable="true" type="tns:itemPedidoTransacaoWS"/>
      <xs:element minOccurs="0" name="nomeTitularCartaoCredito" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCartaoCredito" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="origemTransacao" type="xs:string"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlCampainha" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoNaoPago" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoPago" type="xs:string"/>
      <xs:element minOccurs="0" name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
      <xs:element minOccurs="0" name="vencimentoBoleto" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosUsuarioTransacaoCompletaWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairroEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="bairroEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="cepEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="cepEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="cidadeEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="cidadeEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoCliente" type="xs:string"/>
      <xs:element name="codigoTipoTelefoneAdicionalComprador" type="xs:long"/>
      <xs:element name="codigoTipoTelefoneAdicionalEntrega" type="xs:long"/>
      <xs:element name="codigoTipoTelefoneComprador" type="xs:long"/>
      <xs:element name="codigoTipoTelefoneEntrega" type="xs:long"/>
      <xs:element minOccurs="0" name="complementoEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="complementoEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="dataNascimentoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="dddComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="documento2Comprador" type="xs:string"/>
      <xs:element minOccurs="0" name="documentoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="emailComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="enderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="enderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="paisComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="paisEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="sexoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneEntrega" type="xs:string"/>
      <xs:element name="tipoCliente" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemPedidoTransacaoWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoProduto" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeProduto" type="xs:string"/>
      <xs:element name="quantidadeProduto" type="xs:int"/>
      <xs:element minOccurs="0" name="valorUnitarioProduto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dadosRetornoPagamento"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosRetornoPagamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="autorizacao" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoFormaPagamento" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoTransacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="erro" type="tns:erroRest"/>
      <xs:element minOccurs="0" name="meioPagamento" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="multiploCartao" type="xs:int"/>
      <xs:element minOccurs="0" name="nsu" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="oneClick" type="xs:int"/>
      <xs:element minOccurs="0" name="parcelas" type="xs:int"/>
      <xs:element minOccurs="0" name="statusTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element minOccurs="0" name="valor" type="xs:long"/>
      <xs:element minOccurs="0" name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="erroRest">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagem" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capturarTransacaoCompleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoCompletaWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capturarTransacaoCompletaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoPagamentoWS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="codigoTransacaoOperadora" type="xs:int"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="refazerTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroTransacao" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="refazerTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaBloqueioTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="operacao" type="tns:operacaoVO"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operacaoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroTransacao" type="xs:long"/>
      <xs:element name="operacao" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaBloqueioTransacaoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="operacao" type="tns:operacaoVO"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearTransacaoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoCompleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoCompletaWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoCompletaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capturarCancelarTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="operacao" type="tns:operacaoVO"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capturarCancelarTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dadosRetornoPagamento"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacoesDia">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="data" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacoesDiaResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:resultadoConsultaRelatorioTransacaoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoConsultaRelatorioTransacaoWS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="cartaMascarado" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="nsu" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element name="tid" type="xs:int"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorCapturado" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoCompleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaTransacaoWS" type="tns:consultaTransacaoWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoCompletaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dadosRetornoPagamento"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoEspecifica">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaTransacaoWS" type="tns:consultaTransacaoWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoEspecificaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoConsultaTransacaoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoConsultaTransacaoWS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="codigoTransacaoOperadora" type="xs:int"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoCompletaMaisCartoesCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoCompletaWSCartoesCredito"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoCompletaWSCartoesCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="campoLivre1" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre2" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre3" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre4" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre5" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="dadosCartoesCredito" nillable="true" type="tns:dadosCartoesCredito"/>
      <xs:element minOccurs="0" name="dadosUsuarioTransacao" type="tns:dadosUsuarioTransacaoCompletaWS"/>
      <xs:element minOccurs="0" name="IP" type="xs:string"/>
      <xs:element name="idioma" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="itensDoPedido" nillable="true" type="tns:itemPedidoTransacaoWS"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="origemTransacao" type="xs:string"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlCampainha" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoNaoPago" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoPago" type="xs:string"/>
      <xs:element name="valorDesconto" type="xs:long"/>
      <xs:element minOccurs="0" name="vencimentoBoleto" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosCartoesCredito">
    <xs:sequence>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoSeguranca" type="xs:string"/>
      <xs:element minOccurs="0" name="dataValidadeCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeTitularCartaoCredito" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCartaoCredito" type="xs:string"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element minOccurs="0" name="valor" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoCompletaMaisCartoesCreditoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoMultiplosCartoesWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoPagamentoMultiplosCartoesWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="detalhesFormaPagamentoMultiplosCartoes" nillable="true" type="tns:detalhesFormaPagamentoMultiplosCartoesWS"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="statusTransacao" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalhesFormaPagamentoMultiplosCartoesWS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="codigoTransacaoOperadora" type="xs:int"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoDadosCobrancaCartaoVo">
    <xs:complexContent>
      <xs:extension base="tns:vo">
        <xs:sequence>
          <xs:element minOccurs="0" name="indice" type="xs:long"/>
          <xs:element minOccurs="0" name="numero" type="xs:string"/>
          <xs:element minOccurs="0" name="titular" type="xs:string"/>
          <xs:element minOccurs="0" name="validadeAno" type="xs:string"/>
          <xs:element minOccurs="0" name="validadeMes" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="vo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ativo" type="xs:boolean"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviaTransacaoCompletaAntiFraude">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:atualizacaoTransacaoCompletaWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizacaoTransacaoCompletaWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="dadosUsuarioTransacao" type="tns:dadosUsuarioTransacaoCompletaWS"/>
      <xs:element minOccurs="0" name="IP" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="itensDoPedido" nillable="true" type="tns:itemPedidoTransacaoWS"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="origemTransacao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviaTransacaoCompletaAntiFraudeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizaCamposLivres">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroPedido" type="xs:long"/>
      <xs:element minOccurs="0" name="campoLivre1" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre2" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre3" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre4" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre5" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizaCamposLivresResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelaTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="valorCancelar" type="xs:long"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelaTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoConsultaTransacaoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capturaTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroPedido" type="xs:long"/>
      <xs:element minOccurs="0" name="valorCapturar" type="xs:long"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capturaTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoCapturaWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoPagamentoCapturaWS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="codigoTransacaoOperadora" type="xs:int"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorCapturado" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visualizarDadosRetorno">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroPedido" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visualizarDadosRetornoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dadosRetornoTransacaoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosRetornoTransacaoWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="parametro" type="xs:string"/>
      <xs:element minOccurs="0" name="valor" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDataAntifraude">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaTransacaoWS" type="tns:consultaTransacaoWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDataAntifraudeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoTransacaoDataAntifraudeWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoTransacaoDataAntifraudeWS">
    <xs:sequence>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element minOccurs="0" name="autorizacao" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoTransacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="dataRetornoAntifraude" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cartoesUtilizados" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operacaoTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="operacao" type="tns:operacaoVO"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operacaoTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaTransacaoWS" type="tns:consultaTransacaoWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoTransacaoCompletaWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoTransacaoCompletaWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="autorizacao" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoTransacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarTransacaoCompleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoCompletaWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarTransacaoCompletaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoEspecificaAVS">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultaTransacaoWSAVS" type="tns:consultaTransacaoWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaTransacaoEspecificaAVSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoConsultaTransacaoWSAVS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultadoConsultaTransacaoWSAVS">
    <xs:sequence>
      <xs:element name="autorizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="cep" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="codigoTransacaoOperadora" type="xs:int"/>
      <xs:element minOccurs="0" name="complemento" type="xs:string"/>
      <xs:element minOccurs="0" name="cpf" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAprovacaoOperadora" type="xs:string"/>
      <xs:element minOccurs="0" name="data_Expi" type="xs:string"/>
      <xs:element minOccurs="0" name="endereco" type="xs:string"/>
      <xs:element minOccurs="0" name="mensagemVenda" type="xs:string"/>
      <xs:element minOccurs="0" name="msgAvs" type="xs:string"/>
      <xs:element minOccurs="0" name="numCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroComprovanteVenda" type="xs:string"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element minOccurs="0" name="origem" type="xs:string"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element minOccurs="0" name="respAVS" type="xs:string"/>
      <xs:element name="statusTransacao" type="xs:int"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element minOccurs="0" name="urlPagamento" type="xs:string"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoCompletaCamposExtras">
    <xs:sequence>
      <xs:element minOccurs="0" name="transacao" type="tns:transacaoCompletaCamposExtrasWS"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoCompletaCamposExtrasWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="dadosUsuarioTransacao" type="tns:dadosUsuarioTransacaoCompletaCamposExtrasWS"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="itensDoPedido" nillable="true" type="tns:itemPedidoTransacaoWS"/>
      <xs:element name="numeroTransacao" type="xs:long"/>
      <xs:element name="valor" type="xs:long"/>
      <xs:element name="valorDesconto" type="xs:long"/>
      <xs:element name="taxaEmbarque" type="xs:long"/>
      <xs:element name="codigoFormaPagamento" type="xs:int"/>
      <xs:element name="parcelas" type="xs:int"/>
      <xs:element name="idioma" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeTitularCartaoCredito" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCartaoCredito" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoSeguranca" type="xs:string"/>
      <xs:element minOccurs="0" name="dataValidadeCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="vencimentoBoleto" type="xs:string"/>
      <xs:element minOccurs="0" name="urlCampainha" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoPago" type="xs:string"/>
      <xs:element minOccurs="0" name="urlRedirecionamentoNaoPago" type="xs:string"/>
      <xs:element minOccurs="0" name="IP" type="xs:string"/>
      <xs:element minOccurs="0" name="origemTransacao" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre1" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre2" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre3" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre4" type="xs:string"/>
      <xs:element minOccurs="0" name="campoLivre5" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="campoExtra" type="tns:transacaoCamposExtrasDefinedFieldVo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dadosUsuarioTransacaoCompletaCamposExtrasWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCliente" type="xs:string"/>
      <xs:element name="tipoCliente" type="xs:long"/>
      <xs:element minOccurs="0" name="nomeComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="emailComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="documentoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="documento2Comprador" type="xs:string"/>
      <xs:element minOccurs="0" name="sexoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dataNascimentoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiComprador" type="xs:string"/>
      <xs:element name="codigoTipoTelefoneComprador" type="xs:long"/>
      <xs:element minOccurs="0" name="telefoneAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="dddAdicionalComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiAdicionalComprador" type="xs:string"/>
      <xs:element name="codigoTipoTelefoneAdicionalComprador" type="xs:long"/>
      <xs:element minOccurs="0" name="paisComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="enderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="bairroEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="complementoEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="cidadeEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="cepEnderecoComprador" type="xs:string"/>
      <xs:element minOccurs="0" name="nomeEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="telefoneEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="dddEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiEntrega" type="xs:string"/>
      <xs:element name="codigoTipoTelefoneEntrega" type="xs:long"/>
      <xs:element minOccurs="0" name="telefoneAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="dddAdicionalEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="ddiAdicionalEntrega" type="xs:string"/>
      <xs:element name="codigoTipoTelefoneAdicionalEntrega" type="xs:long"/>
      <xs:element minOccurs="0" name="paisEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="enderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="bairroEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="complementoEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="cidadeEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="estadoEnderecoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="cepEnderecoEntrega" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transacaoCamposExtrasDefinedFieldVo">
    <xs:sequence>
      <xs:element name="chave" type="xs:int"/>
      <xs:element minOccurs="0" name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagamentoTransacaoCompletaCamposExtrasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultadoPagamentoWS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salvaHashPagamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEstabelecimento" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroPedido" type="xs:string"/>
      <xs:element minOccurs="0" name="hashPagamento" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salvaHashPagamentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnsupportedEncodingException" type="tns:UnsupportedEncodingException"/>
  <xs:complexType name="UnsupportedEncodingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServicesException" type="tns:WebServicesException"/>
  <xs:complexType name="WebServicesException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultipleCardsException" type="tns:MultipleCardsException"/>
  <xs:complexType name="MultipleCardsException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cartoesVo" type="tns:transacaoDadosCobrancaCartaoVo"/>
      <xs:element name="key" nillable="true" type="xs:string"/>
      <xs:element name="cartao" nillable="true" type="tns:transacaoDadosCobrancaCartaoVo"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="pagamentoTransacao">
    <wsdl:part element="tns:pagamentoTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoResponse">
    <wsdl:part element="tns:consultaTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturarTransacaoCompleta">
    <wsdl:part element="tns:capturarTransacaoCompleta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="atualizaCamposLivresResponse">
    <wsdl:part element="tns:atualizaCamposLivresResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaBloqueioTransacao">
    <wsdl:part element="tns:consultaBloqueioTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoCompletaResponse">
    <wsdl:part element="tns:consultaTransacaoCompletaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MultipleCardsException">
    <wsdl:part element="tns:MultipleCardsException" name="MultipleCardsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoCompletaCamposExtrasResponse">
    <wsdl:part element="tns:pagamentoTransacaoCompletaCamposExtrasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacoesDiaResponse">
    <wsdl:part element="tns:consultaTransacoesDiaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDataAntifraudeResponse">
    <wsdl:part element="tns:consultaDataAntifraudeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturarCancelarTransacaoResponse">
    <wsdl:part element="tns:capturarCancelarTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacao">
    <wsdl:part element="tns:consultaTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="salvaHashPagamento">
    <wsdl:part element="tns:salvaHashPagamento" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refazerTransacao">
    <wsdl:part element="tns:refazerTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturarCancelarTransacao">
    <wsdl:part element="tns:capturarCancelarTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacoesDia">
    <wsdl:part element="tns:consultaTransacoesDia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="atualizaCamposLivres">
    <wsdl:part element="tns:atualizaCamposLivres" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="visualizarDadosRetorno">
    <wsdl:part element="tns:visualizarDadosRetorno" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaDataAntifraude">
    <wsdl:part element="tns:consultaDataAntifraude" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoEspecificaAVS">
    <wsdl:part element="tns:consultaTransacaoEspecificaAVS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturarTransacaoCompletaResponse">
    <wsdl:part element="tns:capturarTransacaoCompletaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviaTransacaoCompletaAntiFraudeResponse">
    <wsdl:part element="tns:enviaTransacaoCompletaAntiFraudeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoCompletaResponse">
    <wsdl:part element="tns:pagamentoTransacaoCompletaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bloquearTransacao">
    <wsdl:part element="tns:bloquearTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturaTransacaoResponse">
    <wsdl:part element="tns:capturaTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoCompleta">
    <wsdl:part element="tns:consultaTransacaoCompleta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelaTransacao">
    <wsdl:part element="tns:cancelaTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoCompletaMaisCartoesCreditoResponse">
    <wsdl:part element="tns:pagamentoTransacaoCompletaMaisCartoesCreditoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="salvaHashPagamentoResponse">
    <wsdl:part element="tns:salvaHashPagamentoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoCompletaCamposExtras">
    <wsdl:part element="tns:pagamentoTransacaoCompletaCamposExtras" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaBloqueioTransacaoResponse">
    <wsdl:part element="tns:consultaBloqueioTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operacaoTransacaoResponse">
    <wsdl:part element="tns:operacaoTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoResponse">
    <wsdl:part element="tns:pagamentoTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WebServicesException">
    <wsdl:part element="tns:WebServicesException" name="WebServicesException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoCompleta">
    <wsdl:part element="tns:pagamentoTransacaoCompleta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refazerTransacaoResponse">
    <wsdl:part element="tns:refazerTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoEspecifica">
    <wsdl:part element="tns:consultaTransacaoEspecifica" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pagamentoTransacaoCompletaMaisCartoesCredito">
    <wsdl:part element="tns:pagamentoTransacaoCompletaMaisCartoesCredito" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviaTransacaoCompletaAntiFraude">
    <wsdl:part element="tns:enviaTransacaoCompletaAntiFraude" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="visualizarDadosRetornoResponse">
    <wsdl:part element="tns:visualizarDadosRetornoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarTransacaoCompletaResponse">
    <wsdl:part element="tns:cancelarTransacaoCompletaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelaTransacaoResponse">
    <wsdl:part element="tns:cancelaTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoEspecificaAVSResponse">
    <wsdl:part element="tns:consultaTransacaoEspecificaAVSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturaTransacao">
    <wsdl:part element="tns:capturaTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnsupportedEncodingException">
    <wsdl:part element="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bloquearTransacaoResponse">
    <wsdl:part element="tns:bloquearTransacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operacaoTransacao">
    <wsdl:part element="tns:operacaoTransacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaTransacaoEspecificaResponse">
    <wsdl:part element="tns:consultaTransacaoEspecificaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarTransacaoCompleta">
    <wsdl:part element="tns:cancelarTransacaoCompleta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicosPagamentoCompletoWS">
    <wsdl:operation name="pagamentoTransacao">
      <wsdl:input message="tns:pagamentoTransacao" name="pagamentoTransacao">
    </wsdl:input>
      <wsdl:output message="tns:pagamentoTransacaoResponse" name="pagamentoTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="capturarTransacaoCompleta">
      <wsdl:input message="tns:capturarTransacaoCompleta" name="capturarTransacaoCompleta">
    </wsdl:input>
      <wsdl:output message="tns:capturarTransacaoCompletaResponse" name="capturarTransacaoCompletaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refazerTransacao">
      <wsdl:input message="tns:refazerTransacao" name="refazerTransacao">
    </wsdl:input>
      <wsdl:output message="tns:refazerTransacaoResponse" name="refazerTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaBloqueioTransacao">
      <wsdl:input message="tns:consultaBloqueioTransacao" name="consultaBloqueioTransacao">
    </wsdl:input>
      <wsdl:output message="tns:consultaBloqueioTransacaoResponse" name="consultaBloqueioTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bloquearTransacao">
      <wsdl:input message="tns:bloquearTransacao" name="bloquearTransacao">
    </wsdl:input>
      <wsdl:output message="tns:bloquearTransacaoResponse" name="bloquearTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoTransacaoCompleta">
      <wsdl:input message="tns:pagamentoTransacaoCompleta" name="pagamentoTransacaoCompleta">
    </wsdl:input>
      <wsdl:output message="tns:pagamentoTransacaoCompletaResponse" name="pagamentoTransacaoCompletaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="capturarCancelarTransacao">
      <wsdl:input message="tns:capturarCancelarTransacao" name="capturarCancelarTransacao">
    </wsdl:input>
      <wsdl:output message="tns:capturarCancelarTransacaoResponse" name="capturarCancelarTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacoesDia">
      <wsdl:input message="tns:consultaTransacoesDia" name="consultaTransacoesDia">
    </wsdl:input>
      <wsdl:output message="tns:consultaTransacoesDiaResponse" name="consultaTransacoesDiaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacaoCompleta">
      <wsdl:input message="tns:consultaTransacaoCompleta" name="consultaTransacaoCompleta">
    </wsdl:input>
      <wsdl:output message="tns:consultaTransacaoCompletaResponse" name="consultaTransacaoCompletaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacaoEspecifica">
      <wsdl:input message="tns:consultaTransacaoEspecifica" name="consultaTransacaoEspecifica">
    </wsdl:input>
      <wsdl:output message="tns:consultaTransacaoEspecificaResponse" name="consultaTransacaoEspecificaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoTransacaoCompletaMaisCartoesCredito">
      <wsdl:input message="tns:pagamentoTransacaoCompletaMaisCartoesCredito" name="pagamentoTransacaoCompletaMaisCartoesCredito">
    </wsdl:input>
      <wsdl:output message="tns:pagamentoTransacaoCompletaMaisCartoesCreditoResponse" name="pagamentoTransacaoCompletaMaisCartoesCreditoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MultipleCardsException" name="MultipleCardsException">
    </wsdl:fault>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enviaTransacaoCompletaAntiFraude">
      <wsdl:input message="tns:enviaTransacaoCompletaAntiFraude" name="enviaTransacaoCompletaAntiFraude">
    </wsdl:input>
      <wsdl:output message="tns:enviaTransacaoCompletaAntiFraudeResponse" name="enviaTransacaoCompletaAntiFraudeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="atualizaCamposLivres">
      <wsdl:input message="tns:atualizaCamposLivres" name="atualizaCamposLivres">
    </wsdl:input>
      <wsdl:output message="tns:atualizaCamposLivresResponse" name="atualizaCamposLivresResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelaTransacao">
      <wsdl:input message="tns:cancelaTransacao" name="cancelaTransacao">
    </wsdl:input>
      <wsdl:output message="tns:cancelaTransacaoResponse" name="cancelaTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="capturaTransacao">
      <wsdl:input message="tns:capturaTransacao" name="capturaTransacao">
    </wsdl:input>
      <wsdl:output message="tns:capturaTransacaoResponse" name="capturaTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="visualizarDadosRetorno">
      <wsdl:input message="tns:visualizarDadosRetorno" name="visualizarDadosRetorno">
    </wsdl:input>
      <wsdl:output message="tns:visualizarDadosRetornoResponse" name="visualizarDadosRetornoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDataAntifraude">
      <wsdl:input message="tns:consultaDataAntifraude" name="consultaDataAntifraude">
    </wsdl:input>
      <wsdl:output message="tns:consultaDataAntifraudeResponse" name="consultaDataAntifraudeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="operacaoTransacao">
      <wsdl:input message="tns:operacaoTransacao" name="operacaoTransacao">
    </wsdl:input>
      <wsdl:output message="tns:operacaoTransacaoResponse" name="operacaoTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacao">
      <wsdl:input message="tns:consultaTransacao" name="consultaTransacao">
    </wsdl:input>
      <wsdl:output message="tns:consultaTransacaoResponse" name="consultaTransacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarTransacaoCompleta">
      <wsdl:input message="tns:cancelarTransacaoCompleta" name="cancelarTransacaoCompleta">
    </wsdl:input>
      <wsdl:output message="tns:cancelarTransacaoCompletaResponse" name="cancelarTransacaoCompletaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacaoEspecificaAVS">
      <wsdl:input message="tns:consultaTransacaoEspecificaAVS" name="consultaTransacaoEspecificaAVS">
    </wsdl:input>
      <wsdl:output message="tns:consultaTransacaoEspecificaAVSResponse" name="consultaTransacaoEspecificaAVSResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoTransacaoCompletaCamposExtras">
      <wsdl:input message="tns:pagamentoTransacaoCompletaCamposExtras" name="pagamentoTransacaoCompletaCamposExtras">
    </wsdl:input>
      <wsdl:output message="tns:pagamentoTransacaoCompletaCamposExtrasResponse" name="pagamentoTransacaoCompletaCamposExtrasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="salvaHashPagamento">
      <wsdl:input message="tns:salvaHashPagamento" name="salvaHashPagamento">
    </wsdl:input>
      <wsdl:output message="tns:salvaHashPagamentoResponse" name="salvaHashPagamentoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WebServicesException" name="WebServicesException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicosPagamentoCompletoWSImplServiceSoapBinding" type="tns:ServicosPagamentoCompletoWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pagamentoTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagamentoTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagamentoTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="capturarTransacaoCompleta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="capturarTransacaoCompleta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="capturarTransacaoCompletaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refazerTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="refazerTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="refazerTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaBloqueioTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaBloqueioTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaBloqueioTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bloquearTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bloquearTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bloquearTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoTransacaoCompleta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagamentoTransacaoCompleta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagamentoTransacaoCompletaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="capturarCancelarTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="capturarCancelarTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="capturarCancelarTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacoesDia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTransacoesDia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTransacoesDiaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacaoCompleta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTransacaoCompleta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTransacaoCompletaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacaoEspecifica">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTransacaoEspecifica">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTransacaoEspecificaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoTransacaoCompletaMaisCartoesCredito">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagamentoTransacaoCompletaMaisCartoesCredito">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagamentoTransacaoCompletaMaisCartoesCreditoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MultipleCardsException">
        <soap:fault name="MultipleCardsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enviaTransacaoCompletaAntiFraude">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enviaTransacaoCompletaAntiFraude">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enviaTransacaoCompletaAntiFraudeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="atualizaCamposLivres">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="atualizaCamposLivres">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="atualizaCamposLivresResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelaTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelaTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelaTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="capturaTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="capturaTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="capturaTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="visualizarDadosRetorno">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="visualizarDadosRetorno">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="visualizarDadosRetornoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaDataAntifraude">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaDataAntifraude">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaDataAntifraudeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="operacaoTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="operacaoTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="operacaoTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTransacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTransacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarTransacaoCompleta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarTransacaoCompleta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarTransacaoCompletaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaTransacaoEspecificaAVS">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaTransacaoEspecificaAVS">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaTransacaoEspecificaAVSResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pagamentoTransacaoCompletaCamposExtras">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pagamentoTransacaoCompletaCamposExtras">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pagamentoTransacaoCompletaCamposExtrasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault name="UnsupportedEncodingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="salvaHashPagamento">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="salvaHashPagamento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="salvaHashPagamentoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServicesException">
        <soap:fault name="WebServicesException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicosPagamentoCompletoWSImplService">
    <wsdl:port binding="tns:ServicosPagamentoCompletoWSImplServiceSoapBinding" name="ServicosPagamentoCompletoWSImplPort">
      <soap:address location="https://homologacao.superpay.com.br/checkout/servicosPagamentoCompletoWS.Services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>